<%- include("header") -%>


  <div class="box" id="heading">
    <h1> <a href="/"><i class="fa fa-home"></i></a> <%= listTitle %> </h1>
  </div>

  <div class="box">


  <%  newItem.forEach(function(item){ %>

    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="tick" value="<%=item._id%>" onChange="this.form.submit()">
        <p><%=item.name%></p>
      </div>
      <input type="hidden" name="hiddenInput" value="<%= listTitle %>"></input>
    </form>
  <%  }) %>


      <form class="item" action="/" method="post">
        <input type="text" name="item" placeholder="New Item" >
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
